<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.zielonka.zaliczenie"
        versionCode = "10"
        version     = "1.0.1">

    <name>Zaliczenie Koty</name>
    <description>
        Projekt aplikacji mobilnej - płatności za koty - zrobiony na zaliczenie zajęć z Panią dr Dagmarą Wach wykonany przez Borysa Zielonkę oraz Jakuba Przytułę - grupa Biznes Elektroniczny.
    </description>
    
    <author href="http://www.boryszielonka.pl" email="boryszielonka@gmail.com">
        Borys Zielonka
    </author>
    
    <icon src="icon.png"/>
    <splash src="splash.png" />
    <platform name="ios" />
<platform name="android" />
<platform name="winphone" />
    <access origin="*"/>
</widget>